@font-face {
  font-family: 'second-font';
  src: url('./fonts/Sakana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root{
  --main-text-colour:#fcb023;
  --secondary-color: #f3f3f3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background:#fb9f18;
  border-radius: 10px;
}
html::-webkit-scrollbar {
  width: 10px;
}
.arrow {
  position: fixed;
  background-color:var(--main-text-colour);
  border-radius: 50px;
  height: 50px;
  width: 50px; /* Ensure width matches height for a perfect circle */
  bottom: 60px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  z-index: 1000; /* Ensure it stays on top of other elements */
}

/* Header Start */
.header {
  background: rgba(0, 0, 0, 0); /* Make the header background transparent */
  width: 100%;
  box-shadow: 0px 1px 1px black;
}
.header nav {
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  
}
nav .content {
  display: flex;
  align-items: center;
}
nav .content .links {
  margin-left: 80px;
  display: flex;
  
}
nav .content .logo a img {
  width: 230px;
  position: relative;
  top: 5.5px;
}
nav .content .links li {
  list-style: none;
  line-height: 70px;
  
}
#first {
  color: var(--main-text-colour);
}
.content .links li a,
.content .links li label {
  color: black;
  font-size: 18px;
  padding: 9px 17px;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease;
  
}
.content .links li label {
  display: none;
}
.content .links li a:hover,
.content .links li label:hover {
  color: var(--main-text-colour);
}
.header .search-icon,
.header .menu-icon {
  color: var(--main-text-colour);
  font-size: 18px;
  line-height: 70px;
  width: 70px;
  text-align: center;
  cursor: pointer;
}
.header .menu-icon {
  display: none;
}
.header #show-search:checked ~ .search-icon i::before {
  content: "\f00d";
}
.header .search-box {
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.header #show-search:checked ~ .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: black;

  padding: 0 100px 0 15px;
}
.search-box input::placeholder {
  color: black;
}
.search-box .go-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;

  border: none;
  outline: none;
  color: var(--main-text-colour);
  font-size: 20px;
  cursor: pointer;
}
.header input[type="checkbox"] {
  display: none;
}
/* Responsive */
@media screen and (max-width: 1250px) {
  .header nav {
    max-width: 100%;
    padding: 0px 20px;
  }
  nav .content .links {
    margin-left: 30px;
  }
  .content .links a {
    padding: 8px 13px;
  }
  .header .search-box {
    max-width: calc(100% - 100px);
  }
  .header .search-box input {
    padding: 0px 100px 0px 15px;
  }
}
@media screen and (max-width: 900px) {
  .header .menu-icon {
    display: block;
  }
  .header #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }
  nav .content .links {
    display: block;
    position: fixed;
    background: white;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links {
    left: 0%;
  }
  .content .links li {
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label {
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link {
    display: none;
  }
}

/* Header End */
.background-image {
  position: relative; /* Set the parent to relative to position the white box inside */
  height: 500px; /* Example height */
  background: url('https://stickydiljoe.com/wp-content/uploads/2020/01/309A3004-Edit.jpg') no-repeat center center/cover;
  background-size: cover;
  background-position: center;
}
/* White box styling */
.white-box {
  position: absolute;
  width: 600px;
  height: 130px;
  background-color: white;
  top: 480px; /* Move to the middle of the container */
  left: 50%; /* Move to the middle of the container */
  transform: translate(-50%, -50%); /* Center the box by shifting it back 50% of its own width and height */
  z-index: 10;
}
.main-txt {
  text-align: center;
  position: absolute;
  top: 50px; /* Center vertically within the white box */
  left: 50%; /* Center horizontally within the white box */
  transform: translate(-50%, -50%); /* Adjust to be centered */
  z-index: 20; /* Ensure it appears above the white box */
  width: 100%; /* Optional: Ensures the text is centered within the white box */
  letter-spacing: 5px;
}

.main-txt h3 {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--main-text-colour);
  text-shadow: 0px 1px 1px black;
  font-family: "second-font";
  
}
/* Contact and Map Section */
.contact-map-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 80px;
    background-color: #ffffff;
}

.contact-info {
    width: 25%;
    background-color: white;
    padding: 10px;
}

.contact-info h4 {
    margin-bottom: 30px;
    color: var(--main-text-colour);
    font-size: 1.25rem;
    font-family: "Archivo Narrow", sans-serif;
    color: #000000;
    font-weight: 700;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Increased margin to push items further apart */
}

.info-item i {
    color: var(--main-text-colour);
    margin-right: 15px; /* Adjusted margin between icon and text */
}

.info-item p {
    margin: 0;
    padding-bottom: 10px; /* Add padding to create space below the text */
    font-family: "Archivo Narrow", sans-serif;
    color: #5f5f5f;
    font-size: 15px;
    font-weight: 400;
}

.social-media {
    margin-top: 20px;
}

.media-icon {
    display: inline-block; /* Ensures icons are aligned properly */
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    padding: 4px; /* Optional: adds space between the icon and the border */
    box-sizing: border-box; /* Ensures border is included in the total size */
    margin-right: 15px; /* Space between social media icons */
}

.media-icon img {
    width: 100%; /* Makes the image fill the container */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Removes bottom space in inline-block images */
}

.icon {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    border: 2px solid #000000; /* Border color and thickness */
    padding: 4px; /* Optional: add space between the icon and the border */
    box-sizing: border-box; /* Ensure border is included in the total size */
    margin-right: 15px; /* Space between icon and text */
    display: inline-block; /* Ensure icons line up with text */
}

.map-container {
    width: 70%;
}

.map-container iframe {
    width: 100%;
    height: 380px;
    border: 0;
}
/*Get in Touch/contact form*/
.second-heading {
    text-align: center;
}

.second-heading h2 {
    font-family: "second-font";
    color: var(--main-text-colour);
    line-height: 1.3;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 0;
}

.contact-form {
    margin: 40px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 5px;
}

.contact-form .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.contact-form {
    font-size: 1.2rem; /* Increase font size for better readability */
    padding: 20px; /* Add padding for a larger form */
    width: 100%; /* Ensure the form takes up the full width of its container */
    max-width: 1200px; /* Optionally set a max-width to control the form's maximum size */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.contact-form .form-row {
    display: flex;
    gap: 30px; /* Increase gap between fields */
    margin-bottom: 20px;
}

.contact-form .form-group {
    flex: 1;
    margin-bottom: 20px; /* Increase margin below fields */
}

.contact-form .form-group label {
    display: block;
    font-size: 1.2rem; /* Increase label font size */
    color: #000000;
    margin-bottom: 10px; /* Increase margin below labels */
    font-weight: 700;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #5f5f5f; /* Increase border thickness for a larger line */
    font-size: 1.2rem; /* Increase font size */
    line-height: 1.6; /* Adjust line height */
    color: #495057;
    padding: .5rem 0; /* Increase padding to make fields larger */
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.contact-form .form-group input:focus,
.contact-form .form-group textarea:focus {
    border-bottom: 2px var(--main-text-colour); /* Optional: Change color on focus */
    outline: none; /* Remove default focus outline */
}

.contact-form .form-group textarea {
    height: auto; /* Allow for more height for textarea */
    resize: vertical; /* Allow vertical resizing */
}

.contact-form button {
    font-size: 1.2rem; /* Increase button font size */
    background-color: var(--main-text-colour); /* Button color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #fcb020; /* Darker button color on hover */
}


.contact-form button {
    width: 20%;
    padding: 10px;
    background-color: var(--main-text-colour);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 40%;
}

.contact-form button:hover {
    background-color: var(--main-text-colour);
}
footer{
  background-color: var(--secondary-color);
}
.footerContainer{
  width: 95%;
  padding: 70px 30px 20px ;
}
footer{
  background-color: var(--secondary-color);
}
.footerContainer{
  width: 95%;
  padding: 70px 30px 20px ;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding:  10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: var(--main-text-colour);
  opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
  background-color: var(--main-text-colour);
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}
.footerNav{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color:black;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;

}
.footerNav ul li a:hover{
  opacity: 1;
}
.footerBottom{
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px){
  .footerNav ul{
      flex-direction: column;
  } 
  .footerNav ul li{
      width:100%;
      text-align: center;
      margin: 10px;
  }
  .socialIcons a{
      padding: 8px;
      margin: 4px;
  }
}
/* Footer End */
html {
  scroll-behavior: smooth;
}
